<h3>Posts</h3>
<li class="list-group-item" *ngFor="let post of posts; let i = index" [ngClass]="{'list-group-item-success': 0 < post.loveIts, 'list-group-item-danger': 0 > post.loveIts}">
  <div class="col-xs-12">
    <h2>{{ post.title }}</h2>
    <small>{{ post.createdAt | date: 'short' }}</small>
  </div>
  <div class="col-xs-12">
    <p>{{ post.content }}</p>
  </div>
  <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group" role="group" aria-label="First group">
      <button class="btn btn-success" (click)="iLoveIt(i)">Love it!</button>
      <button class="btn btn-danger" (click)="iDontLoveIt(i)">Don't love it!</button>
    </div>
    <div class="btn-group">
      <button class="btn btn-danger btn-right" (click)="onDeletePost(i)">Supprimer post</button>
    </div>
  </div>
</li>

